.App 
{
  text-align: center;
}
.App-header 
{
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-logo 
{
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.Portrait /* Dimentions of the Headshot */
{
  height: 150px;
  width: 120px;

  
}
.Description
{
  font-size: small;
  display: block;
}

#Button
{
  background-color: rgb(250, 64, 64);
  border-radius: 12px;
  border-color: #222;
  font-size: medium;
}

figure.Info
{
  vertical-align: top;
  display: inline-block;
  width: 120px;
  height: auto;

  position: absolute;
  top: 195px;
  left: 5px;
  border: 1px solid #ccc;
}
.App-title 
{
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
